@using TrainsMauiHybrid.Helpers
@using TrainsMauiHybrid.Services
@using AlignItems = Radzen.AlignItems
@using ButtonType = Radzen.ButtonType
@using DialogService = Radzen.DialogService
@using Orientation = Radzen.Orientation
@using Variant = Radzen.Variant
@inherits LayoutComponentBase
@inject MasaBlazor MasaBlazor


<RadzenComponents />

<MApp >
    <MErrorHandler ShowDetail="true">
        


        @*<MNavigationDrawer App @bind-Value="_drawer">
            <MList Nav Routable>
                <MListItem Href="/" ActiveClass="primary--text">
                    <MListItemIcon>
                        <MIcon>mdi-home</MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        <MListItemTitle>Home</MListItemTitle>
                    </MListItemContent>
                </MListItem>
                <MListItem Href="/bileties" ActiveClass="primary--text">
                    <MListItemIcon>
                        <MIcon>mdi-plus</MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        <MListItemTitle>Обслуживание</MListItemTitle>
                    </MListItemContent>
                </MListItem>
                <MListItem Href="/bileties" ActiveClass="primary--text">
                    <MListItemIcon>
                        <MIcon>mdi-plus</MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        <MListItemTitle>Билеты</MListItemTitle>
                    </MListItemContent>
                </MListItem>
                <MListItem Href="/trains" ActiveClass="primary--text">
                    <MListItemIcon>
                        <MIcon>mdi-list-box</MIcon>
                    </MListItemIcon>
                    <MListItemContent>
                        <MListItemTitle>Поезда</MListItemTitle>
                    </MListItemContent>
                </MListItem>
            </MList>
        </MNavigationDrawer>
        *@

        @*<MNavigationDrawer App @bind-Value="drawer">
        <NavMenu />
        </MNavigationDrawer>*@



        <MMain>
            <!-- Provides the application the proper gutter -->
            <MContainer Fluid>
                @Body
            </MContainer>
        </MMain>

        <MBottomNavigation  Grow Color="purple" >


            <MButton Href="employees">
                <span>Cотрудники</span>
                <MIcon>mdi-account</MIcon>
            </MButton>
            <MButton Href="jobs">
                <span>Должности</span>
                <MIcon>mdi-card-text</MIcon>
            </MButton>
            <MButton Href="marshutis">
                <span>Маршруты</span>
                <MIcon>mdi-train</MIcon>
            </MButton>
            
            <MMenu
                                Bottom
                                Left Transition="scale-transition" >
                                <ActivatorContent>
                                    <MButton
                                                                
                                                                Icon
                                                                @attributes="@context.Attrs">
                                                                <MIcon>mdi-dots-vertical</MIcon>
                                                            </MButton>
                                </ActivatorContent>
            
                                <ChildContent>
                                    <MList>
                                        <MListItem  Class="m-list-item--default" Href="prodazhis">
                                            <MListItemTitle>Продажи</MListItemTitle>
                                        </MListItem>
                                        <MListItem  Class="m-list-item--default" Href="bileties">
                                            <MListItemTitle>Билеты</MListItemTitle>
                                        </MListItem>
                                        <MListItem  Class="m-list-item--default" Href="trains">
                                            <MListItemTitle>Поезда</MListItemTitle>
                                        </MListItem>
                                        <MListItem  Class="m-list-item--default" Href="obsluzhivanies">
                                            <MListItemTitle>Обслуживание</MListItemTitle>
                                        </MListItem>
                                        <MListItem  Class="m-list-item--default" Href="promezhutochinye-punkties">
                                            <MListItemTitle>Промежуточные пункты маршрутов</MListItemTitle>
                                        </MListItem>
                                        <MListItem  Class="m-list-item--default" Href="aboutsoftware">
                                            <MListItemTitle>О программе</MListItemTitle>
                                        </MListItem>
                                        
                                        <MSwitch Value="_isDark" TValue="bool" ValueChanged="IsDarkChanged" Label="@(_isDark ? "Темная" : "Светлая")" />
                                        
                                        
                                    </MList>
                                </ChildContent>
                            </MMenu>

            @*<MButton Href="prodazhis">
                <span>Продажи</span>
                <MIcon>mdi-ticket-confirmation</MIcon>
            </MButton>
            <MButton Href="bileties">
                <span>Билеты</span>
                <MIcon>mdi-passport</MIcon>
            </MButton>
            <MButton Href="trains">
                <span>Поезда</span>
                <MIcon>mdi-train-car-container</MIcon>
            </MButton>
            <MButton Href="obsluzhivanies">
                <span>Обслуживание</span>
                <MIcon>mdi-table-filter</MIcon>
            </MButton>
            <MButton Href="promezhutochinye-punkties">
                            <span>Промежуточные пункты маршрутов</span>
                            <MIcon>mdi-table-filter</MIcon>
                        </MButton>*@

        </MBottomNavigation>

    </MErrorHandler>
</MApp>



