@page "/counter"
@using TrainsMauiHybrid.Services
@attribute [Authorize]

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<RadzenButton Variant="Variant.Filled" Color="Color.Primary" OnClick="IncrementCount">Click me</RadzenButton>

@code {
    [Inject]
    protected SecurityService Security { get; set; }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
